body{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #005f73;
    background-color: #0F0505;
}

article{
    margin: 20px;
    padding: 20px;
    border: 2px solid #005f73;
    border-radius: 10px;
    background-color: #0F0505;
}